<%= link_to "Chatroom", root_path, class:"item" %>
<a class="item">Messages</a>
  <div class="right menu">
       <div class="ui simple dropdown link item">
         <% if logged_in? %>
         <span class="text"> Profile [ <%= current_user.username %> ]  </span>
              <i class="dropdown icon"></i>
              <div class="menu">

                    <%= link_to "Edit", edit_user_path(current_user), class:"item" %>
                    <%= link_to "Logout", logout_path, method: :delete, class:"item" %>
                  <% else %>
                    <%= link_to "Login", login_path, class:"item" %>
                  <!-- <div class="divider"></div> --><% end %>
              </div>
      </div>

      <% if !logged_in? %>
      <div class="item">
        <%= link_to "Login", login_path, class:"ui blue primary button" %>
      </div>
      <% end %>
  </div>
